/*animation text for items*/

@keyframes showContent { 
     to {
         transform: translateY(0px);
         filter: blur(0px);
         opacity: 1;
     }
 }

/* animation to show image */

 @keyframes showImage {
     to {
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 0;
     }
 }

/*animation to show thumbnail*/

@keyframes showThumbnail {
     from {
         width: 0;
         opacity: 0;
     }
 }

/*effect for next slide*/

@keyframes effectNext {
     from {
         transform: translateX(150px);
     }
 }

/* Running time bar on top of page */ 

@keyframes runningTime {
     from {
         width: 100%
     }

     to {
         width: 0
     }
 }

/* Fade in animation for text and image */


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* animation to go to previous slide, for previous button*/ 

 @keyframes outFrame {
     to {
         width: 150px;
         height: 220px;
         bottom: 50px;
         left: 50%;
         border-radius: 20px;
     }
 }

@keyframes contentOut {
     to {
         transform: translateY(-150px);
         filter: blur(20px);
         opacity: 0;
     }
 }