 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General CSS*/

 body {
     margin: 0;
     background-color: #000;
     color: #eee;
     font-family: Poppins;
     font-size: 12px;
     padding-top: 5px;
 }

 a {
     text-decoration: none;
     color: black;
     
 }


/* Header and nav */


 header {
     width: 100%;
     height: 50px;
     display: flex;
     align-items: center;
     position: fixed;
     z-index: 100;
     margin-left: 10px;
     margin-top: -5px;
 }

 header a {
     color: #eee;
     margin-right: 30px;
 }
.buttons {display: grid;
         grid-template-columns: repeat(2, 130px);
         grid-template-rows: 40px;
         gap: 5px;
         margin-top: 20px;
          text-align: center;
          text-decoration: none;
          color: black;
          
          
         }

.anchor-button {
     border: none;
         background-color: #eee;
         letter-spacing: 3px;
         font-family: Poppins;
         font-weight: 500;
         margin-top: 20px;
         border-radius: 5px;
     text-align: center;
     text-decoration: none;
     
}
.anchor-button:Hover {
     background-color: #f1683a;
     color: white;
}

.logo-p1 { /* first page logo class */
   font-family: "Playwrite NG Modern", cursive;
    font-weight: 218;
    font-style: normal;
   font-size: 3em;
   text-align: center;
     white-space: nowrap;
     position: fixed;
     margin-left: 50%;
}

.our-cocktails {
    font-family: "Playwrite NG Modern", cursive;
    font-weight: 218;
    font-style: normal;
   font-size: 3em;
   text-align: center;
     white-space: nowrap;
     margin-top : 20%;
     margin-left: 30%;

}


  


/* Animation for Nav links */

 #home:before {
     content: "";
     position: absolute;
     width: 40px;
     height: 3px;
     bottom: -2%;
     background: #FF9494;
     border-radius: 30px;
     transform: scaleX(0);
     transition: transform 0.2s linear;
     bottom: 10px;
 }

 #home:hover:before {
     transform: scaleX(1);
 }

 #info:before {
     content: "";
     position: absolute;
     width: 57px;
     height: 3px;
     bottom: -2%;
     background: #FF9494;
     border-radius: 30px;
     transform: scaleX(0);
     transition: transform 0.2s linear;
     bottom: 10px;
 }

 #info:hover:before {
     transform: scaleX(1);

 }

 #cocktails:before {
    content: "";
     position: absolute;
     width: 50px;
     height: 3px;
     bottom: -2%;
     background: #FF9494;
     border-radius: 30px;
     transform: scaleX(0);
     transition: transform 0.2s linear;
     bottom: 10px;
}

#cocktails:hover:before {
    transform: scaleX(1);
}

 /* thumbnail */


 .thumbnail {
     position: absolute;
     bottom: 50px;
     left: 50%;
     width: max-content;
     z-index: 100;
     display: flex;
     gap: 20px;
 }

 .thumbnail .item-1{
     width: 150px;
     height: 220px;
     flex-shrink: 0;
     position: relative;
 }

 .thumbnail .item-1 img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
 }

 .thumbnail .item-1 .content{
     color: #fff;
     position: absolute;
     bottom: 10px;
     left: 10px;
     right: 10px;
 }

 .thumbnail .item-1 .content .title
 {
     font-weight: 500;
 }

 .thumbnail .item-1 .content .description{
     font-weight: 300;
 }

 .thumbnail-2 {
      position:relative;
     bottom: 50px;
     left: 50%;
     width: max-content;
     z-index: 100;
     display: flex;
     gap: 20px;
 }

 .thumbnail-2 .item-1{
     width: 150px;
     height: 220px;
     flex-shrink: 0;
     position: relative;
 }

 .thumbnail-2 .item-1 img{
     width: 90%;
     height: 90%;
     object-fit: cover;
     border-radius: 20px;
 }

 .thumbnail-2 .item-1 .content{
     color: #fff;
     position: absolute;
     bottom: 10px;
     left: 10px;
     right: 10px;
 }

 .thumbnail-2 .item-1 .content .title
 {
     font-weight: 500;
 }

 .thumbnail-2 .item-1 .content .description{
     font-weight: 300;
 }





 /* arrows next / prev */


 .arrows {
     position: absolute;
     top: 80%;
     right: 45%;
     z-index: 100;
     width: 300px;
     max-width: 30%;
     display: flex;
     gap: 10px;
     align-items: center;
 }

 .arrows button {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #eee4;
     border: none;
     color: #fff;
     font-family: monospace;
     font-weight: bold;
     transition: .5s;
 }

 .arrows button:hover {
     background-color: #fff;
     color: #000;
 }


/*Containers */ 

.container {
  display: flex;
background-color:black;
     bottom: 20%;
     
}

.image-container {
     animation: fadeIn 5s;
     width: 250px;
     bottom: 50%;
     margin-left: 50%;
     margin-top: 10%;

}

.image-container img{
 object-fit: cover;
     width:900px;
     height:750px;
}

.text-container {
     animation: fadeIn 5s;
     position: absolute;
  width: 25%;
  padding: 0;
     margin-top: 10%;
     border-color: white;
     right:40%;
     margin-right: 20%;
     margin-left: 40%;
}

.text-container h1 {
 text-align: left;
  font-size: 3em;
  margin-bottom: 10px;
     color: #f1683a;


}

.text-container p {
  line-height: 1.6;
  font-size: 1em;
  margin-bottom: 15px;

}
.text-container li {
     font-size: 1em;
}

.video-container {
     position:absolute;
     text-align:center;
     width: 750px;
     height: 750px;
     left: 10%;
     margin-top: 10%;
     
}


.text-container-2 {
          position: absolute;
       width: 25%;
       padding: 0;
          margin-top: 10%;
          right: 5%;
          margin-left: 40%;
     }

.text-container-2 h1 {
 text-align: left;
  font-size: 3em;
  margin-bottom: 10px;
     color: #f1683a;


}

.text-container-2 p {
  line-height: 1.6;
  font-size: 1.2em;
  margin-bottom: 15px;

}
.text-container-2 li {
     font-size: 1.2em;
}

.google-map-container {
     text-align: left;
       width: 70%;
       padding: 0;
         right:20%;
         margin-right: 20%;
         margin-left: 10%;
         margin-top: 40%;
     

  
}
.google-map-container h1{
 text-align: left;
  font-size: 3em;
  margin-bottom: 10px;
     color: #f1683a;
}

.google-map-container h2{
     color: #f1683a;
}
.google-map {
     margin-right: 10%;
}
.noah {
     color:white;
}

/* contact button */

.contact button {
     border: none;
     background-color: #eee;
     letter-spacing: 1px;
     font-family: Poppins;
     font-weight: 500;
     margin-top: 12px;
     border-radius: 5px;
     height: 45px;
     width: 135px
}

.see-more {
     border: none;
     background-color: #eee;
     letter-spacing: 1px;
     font-family: Poppins;
     font-weight: 500;
     margin-top: 12px;
     border-radius: 5px;
     height: 45px;
     width: 135px
}
/* Contact button animation */

.contact button:Hover {
     color: white;
     background-color: #f1683a;
}

iframe {
    border-color: black;
}